#keys {
	display: flex;
	flex-direction: row;
	width: 99vw;
	height: 10vw;
}

.key {
	border: 1px solid black;
	flex: 1 1 auto;
	position: relative;
	z-index: 1;
	overflow: hidden;
	letter-spacing: -10vw;
    padding-left: 0.4vw;
    box-sizing: border-box;	
}

.white {
	background: white;
	color: black;
	line-height: 18vw;
}

.black {
	background: black;
	color: white;
	line-height: 8.5vw;

	height: 50%;
	z-index: 2;
	margin-left: calc(-88vw / 148);
	margin-right: calc(-88vw / 148);
}

.active {
	background: blue;
	color: yellow;
}
